@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@400;500;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #19090A;
  --secondary: #3B1B1D;
  --accent: #714248;
  --olive: #888157;

  --background: #F8F6F1;
  --surface: #FFFFFF;

  --text: #19090A;
  --muted: #6E6663;

  --border: #E8E2D8;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Tajawal", sans-serif;
  background: var(--background);
  color: var(--text);
}

* {
  border-color: var(--border);
}

::selection {
  background: var(--accent);
  color: white;
}
